.container {
  background-image: url("https://images.unsplash.com/photo-1582738411706-bfc8e691d1c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80");
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px 10px;
  border-radius: 10px;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}
header {
  border: rgba(76, 141, 159, 0.6);

  border-radius: 10px 10px 5px 5px;
  padding-top: 10px;
}
footer {
  border: rgba(76, 141, 159, 0.6);
  border: solid;
  border-width: thin;
  border-color: #e0e0e0;
  border-radius: 5px 5px 10px 10px;
  margin-top: 10px;
}
button {
  padding: 5px;
  margin-left: -15px;

  background: #c5a4af;
  border-radius: 5px;
  border-color: #c5a4af;
}
.geolocation {
  padding: 5px;
  margin-left: -15px;
  border-radius: 5px;
  background: #99b5d6;
}
form {
  margin-top: 10px;
  margin-left: 10px;
}

.form-group {
  padding-left: 10px;
  font-size: 120%;
}
.mb-2 {
  padding-left: 20px;
  padding-top: 10px;
}
h1,
h2,
h3 {
  margin-left: 20px;
}
h1 {
  margin-top: 20px;
  font-size: 250%;
}
h2 {
  font-size: 400%;
}
h6 {
  margin-top: 12px;
  margin-left: 65px;
}

.weather:first-letter {
  text-transform: capitalize;
}
.sunday {
  margin-top: 15px;
  margin-bottom: -10px;
}
.weather {
  margin-top: -10px;
}
h4 {
  margin-left: 10px;
  margin-top: -10px;
}
p {
  margin-top: -5px;
  margin-left: 10px;
}
.coder {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

.images {
  margin-left: 10px;
}

h4,
p {
  margin-right: -20px;
}
.temper {
  width: 30px;
  font-size: 16px;
}
